html {
  box-sizing: border-box;

  text-size-adjust: 100%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;

  background-color: #fafbfd !important;
  text-rendering: optimizespeed;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.flex-auto {
  flex: 1 1 auto;
}
